@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>Prueba de Bootstrap 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <LINK rel="StyleSheet" href="~/Content/Site.css" type="text/css">
    <link rel="shortcut icon" href="~/Content/Img/favicon-32x32.png">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-xl-3" style="background-color:transparent;">
                <div class="row">
                    <div class="logoclass col-3 col-sm-2 col-lg-2 col-xl-3" style="background-color:transparent;">
                        <img src="/Content/Img/Vector.png" class="img-fluid" alt="Responsive Image">
                    </div>
                    <div class="prueba col-8 col-sm-6 col-lg-8 col-xl-9 text-md-left text-lg-center text-xl-left" style="background-color:transparent; color:#ffff;">
                        <p id="estilo1en">
                            <br>
                            <span id="logo"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6" style="background-color:transparent;">
                <div class="row divencabezado" style="padding:2%;">
                    <div class="col-2 " style="background-color:#117394;">
                        <p class="text-center" id="num">1</p>
                    </div>
                    <div class="col-6 " style="background-color:#02AFC1;">
                        <div class="row">
                            <div class="col-4 col-sm-2 col-xl-2 " style="background-color:transparent;">
                                <p class="num2 text-center" id="num">2</p>
                            </div>
                            <div class="col-8 col-sm-4 col-xl-4" style="background-color:transparent;">
                                <img src="~/Content/Img/Auto.png" class="car2 img-fluid" alt="Responsive Image" />
                            </div>
                            <div class="txtEN text-left d-none d-sm-block col-sm-6 col-xl-6" style="background-color:transparent; color:#ffff; padding-top:2%;">
                                <p id="estilo2textoAU2EN">
                                    <br>
                                    <span id="estilo2cabAU2EN"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-2 " style="background-color:#04C3D7">
                        <p class="text-center" id="num">3</p>
                    </div>
                    <div class="col-2" style="background-color:#0BEDBF">
                        <p class="text-center" id="num">4</p>
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-block col-xl-3" style="background-color:transparent; padding-top:2.7%; ">

                <br>
            </div><br />
        </div>
    </div>

    <!-- CUERPO DE LA PÁGINA -->
    <div class="container-fluid">
        <div class="row" style="margin-top: -2%; background-color:#02AFC1">
            <div class="col-12" style="background-color:transparent;">

            </div>
            <div class="col-12" style="background-color:transparent;">
                <div class="hijo row" style="padding:2%;">
                    <!--  SE AGREGAN COLUMNAS XL  -->
                    <div align="right" class="col-4 col-md-5 col-xl-5">
                        <img class="img-fluid text-right" style="padding:2%" src="~/Content/Img/nube.png" alt="Responsive Image">
                    </div>
                    <div class="textos1 col-8 col-md-7 col-xl-7">
                        @ViewBag.carbono
                        Tons of CO2
                    </div>
                    <div class="col-12 text-center">

                    </div>
                </div>
            </div>
            <div class="col-12" style="background-color:transparent;">

            </div>
        </div>

        <!--SEGUNDA FILA-->

        <div class="row" style="margin-top: -20px; background-color:#02AFC1">
            <div class="col-lg-3" style="background-color:transparent;">

            </div>
            <div class="col-12 col-lg-6" style="background-color:transparent;">
                <div class="row" style="padding:2%;">
                    <div class="textos2 col-12 text-center col-lg-5 text-lg-right col-xl-5" style="background-color:#02AFC1">
                        Off  @ViewBag.kilometros
                    </div>
                    <div class="col-12 col-lg-2 col-xl-2 " align="center" style="background-color:#02AFC1;">
                        <img class="img-fluid" style="padding:2%" src="~/Content/Img/Recorrido.png" alt="responsive image">
                    </div>
                    <div class="textos2 col-12 text-center col-lg-5 text-lg-left col-xl-5 text-xl-left  " style="background-color:#02AFC1">
                        Travelled kms
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="background-color:transparent;">

            </div>
        </div>

        <!--Botones-->


        <div class="row" style="margin-top:-5px; background-color:#02AFC1">


            <div class="col-5 col-md-3 col-lg-4 col-xl-4 " style="background-color:#02AFC1">
                <a href="javascript: history.go(-1)"><input class="calcular3 boton-color" name="" type="button" value="<-- Go Back"></a>
            </div>
            <div class="col-7 col-md-9 text-right col-lg-8 text-lg-left col-xl-7 pl-xl-8 " style="background-color:#02AFC1;">
                <div class="hijo">
                    <form method="post" action="/Auto/Auto_pagina3EN">
                        <input type="hidden" name="recorrido" value="@ViewBag.kilometros" />
                        <input type="hidden" name="toneladas" value="@ViewBag.carbono" />
                        <input type="hidden" name="total" value="@ViewBag.total" />
                        <input type="hidden" name="nombre" value="@ViewBag.nombre" />
                        <input type="hidden" name="correo" value="@ViewBag.correo" />

                        <input class="calcular2EN boton-color" name="actualizar" type="submit" value="CALCULATE COMPENSATION">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4" style="background-color:transparent">
                </div>
                <div class="col-lg-4 text-center" style="background-color:transparent">

                    <img src="~/Content/Img/logooEPB.png" />

                </div>
                <div class="col-lg-4" style="background-color:transparent">

                </div>
            </div>

        </div>
    </footer>

</body>

</html>
