@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>Prueba de Bootstrap 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <LINK rel="StyleSheet" href="~/Content/Site.css" type="text/css">
    <link rel="shortcut icon" href="~/Content/Img/favicon-32x32.png">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-xl-3" style="background-color:transparent;">
                <div class="row">
                    <div class="logoclass col-3 col-sm-2 col-lg-2 col-xl-3" style="background-color:transparent;">
                        <img src="/Content/Img/Vector.png" class="img-fluid" alt="Responsive Image">
                    </div>
                    <div class="prueba col-8 col-sm-6 col-lg-8 col-xl-9 text-md-left text-lg-center text-xl-left" style="background-color:transparent; color:#ffff;">
                        <p id="estilo1en">
                            <br>
                            <span id="logo"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6" style="background-color:transparent;">
                <div class="row divencabezado" style="padding:2%;">
                    <div class="col-2 " style="background-color:#117394;">
                        <p class="text-center" id="num">1</p>
                    </div>
                    <div class="col-2 " style="background-color:#02AFC1">
                        <p class="text-center" id="num">2</p>
                    </div>
                    <div class="col-6 " style="background-color:#04C3D7;">
                        <div class="row">
                            <div class="col-4 col-sm-2 col-xl-2 " style="background-color:transparent;">
                                <p class="num2 text-center" id="num">3</p>
                            </div>
                            <div class="col-8 col-sm-4 col-xl-4" style="background-color:transparent;">
                                <img src="~/Content/Img/Auto.png" class="car2 img-fluid" alt="Responsive Image" />
                            </div>
                            <div class="txtEN text-left d-none d-sm-block col-sm-6 col-xl-6" style="background-color:transparent; color:#ffff; padding-top:2%;">
                                <p id="estilo2textoAU3EN">
                                    <br>
                                    <span id="estilo2cabAU3EN"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="background-color:#0BEDBF">
                        <p class="text-center" id="num">4</p>
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-block col-xl-3" style="background-color:transparent; padding-top:2.7%; ">

                <br>
            </div><br />
        </div>
    </div>

    <!-- CUERPO DE LA PÁGINA -->
    <div class="container-fluid">
        <div class="row" style="margin-top: -2%; background-color:#04C3D7">
            <div class="col-md-2" style="background-color:transparent;">

            </div>
            <div class="col-md-8" style="background-color:transparent;">
                <div class="row" style="padding:2%;">

                    <div class="col-md-2" style="background-color:#04C3D7">

                    </div>
                    <!--
                                  <div class="row">
                        <div class="columna col d-block d-sm-none"></div>
                        <div class="columna col d-none d-sm-block d-md-none">SM - Small</div>
                        <div class="columna col d-none d-md-block d-lg-none">MD - Medium</div>
                        <div class="columna col d-none d-lg-block d-xl-none">LG - Large</div>
                        <div class="columna col d-none d-xl-block">XL - Extra Large</div>
                    </div>-->

                    <div class="col-md-8 d-none d-xl-block" style="background-color:#04C3D7;">
                        <div class="hijo">
                            <table style="width:100%">
                                <tr>
                                    <th> &nbsp&nbsp&nbsp</th>
                                    <th> <img style="padding:2%" src="~/Content/Img/nube.png"> </th>
                                    <th> <h3> @ViewBag.toneladas</h3></th>
                                    <th> <h3>T of CO2 = $ @ViewBag.total USD</h3> </th>

                                </tr>

                            </table>
                            <table style="width:90%">
                                <tr>
                                    <th> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                                    <th><spam class="spam">@ViewBag.recorrido travelled km</spam></th>

                                </tr>

                            </table>

                        </div>
                        <table>
                            <tr>
                                <th> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                                <th><spam class="spam">I want to compensate</spam></th>
                            </tr>
                        </table>
                    </div>


                    <div class="col-md-8 d-block d-xl-none" style="background-color:#04C3D7;">
                        <div class="hijo">
                            <table style="width:100%">
                                <tr>
                                    <th> </th>
                                    <th> <img style="" src="~/Content/Img/nube.png"> </th>
                                    <th> <h4> @ViewBag.toneladas</h4></th>
                                    <th> <h4>T de CO2 = $ @ViewBag.total USD</h4> </th>

                                </tr>

                            </table>
                            <table style="width:90%">
                                <tr>
                                    <th> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                                    <th><spam class="spam">@ViewBag.recorrido travelled km</spam></th>

                                </tr>

                            </table>

                        </div>
                        <table>
                            <tr>
                                <th> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                                <th><spam class="spam">I want to compensate</spam></th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2" style="background-color:#04C3D7">

                    </div>
                </div>
            </div>
            <div class="col-md-2" style="background-color:transparent;">

            </div>
        </div>
    </div>
    <!-///////////////////////////////////////////////////////////////////////////->

    <form name="calculos" method="post" action="/Auto/Auto_pagina4EN">
        <div class="container-fluid">
            <div class="row" style="margin-top: -20px; background-color:#04C3D7">

                <div class="col-md-3" style="background-color:transparent;">

                </div>
                <div class="col-md-6" style="background-color:transparent;">
                    <div class="row" style="padding:2%;">

                        <div class="col-md-2" style="background-color:#04C3D7">

                        </div>
                        <div class="col-md-8" style="background-color:#04C3D7;">


                            <table style="width:100%">

                                <tr>
                                    <th>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    </th>
                                    <th>
                                        <div id="pregunta">
                                            <img src="~/Content/Img/Frame1.png" alt="hoja">
                                            <input type="radio" name="porsentaje" value="1" id="pregunta1" checked>
                                            <label for="pregunta1">&nbsp&nbsp10%&nbsp </label>
                                            <img src="~/Content/Img/Frame2.png" alt="hoja">
                                            <input type="radio" name="porsentaje" value="2" id="pregunta2">
                                            <label for="pregunta2">&nbsp&nbsp50%&nbsp </label>
                                            <img src="~/Content/Img/Frame3.png" alt="hoja">
                                            <input type="radio" name="porsentaje" value="3" id="pregunta3">
                                            <label for="pregunta3">&nbsp100%&nbsp</label>
                                            <input name="total" type="hidden" value="@ViewBag.total" />


                                        </div>
                                    </th>

                                </tr>

                            </table>
                        </div>
                        <div class="col-md-2" style="background-color:#04C3D7">

                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="background-color:#04C3D7">

                </div>
            </div>
        </div>

        <!-///////////////////////////////////////////////////////////////////////////->
        <div class="container-fluid">
            <div class="row" style="margin-top: -20px; background-color:#04C3D7">

                <div class="col-md-3" style="background-color:transparent;">

                </div>
                <div class="col-md-6" style="background-color:transparent;">
                    <div class="row" style="padding:2%;">

                        <div class="col-md-2" style="background-color:#04C3D7">

                        </div>
                        <div class="col-md-8" style="background-color:#04C3D7;">


                            <table style="width:100%">

                                <tr>

                                    <th>
                                        <p class="spam" align="center">Remember we work with fair prices for the management and conservation of the natural resources</p>
                                    </th>

                                </tr>

                            </table>
                        </div>
                    </div>

                    <div class="col-md-2" style="background-color:#04C3D7">

                    </div>
                </div>

                <div class="col-md-3" style="background-color:transparent;">

                </div>
            </div>
        </div>
        <!-///////////////////////////////////////////////////////////////////////////->

        <!-///////////////////////////////////////////////////////////////////////////->
        <div class="container-fluid">
            <div class="row" style="margin-top: -20px; background-color:#04C3D7">
                <div class="col-md-1" style="background-color:transparent;">

                </div>
                <div class="col-md-3" style="background-color:transparent;">
                    <table style="width:100%">

                        <tr>
                            <th>&nbsp&nbsp&nbsp</th>
                            <th>
                                <a href="javascript: history.go(-1)"><input class="calcular3 boton-color" name="" type="button" value="<-- Go back"></a>

                            </th>

                        </tr>

                    </table>
                </div>
                <div class="col-md-4" style="background-color:transparent;">
                    <div class="row" style="padding:2%;">

                        <div class="col-md-2" style="background-color:#04C3D7">

                        </div>
                        <div class="col-md-8" style="background-color:#04C3D7;">
                            <div class="hijo">
                                <table style="width:100%">

                                    <tr>
                                        <th>&nbsp&nbsp&nbsp</th>
                                        <th>
                                            <input name="ton" type="hidden" value="@ViewBag.toneladas" />
                                            <input name="nombre" type="hidden" value="@ViewBag.nombre">
                                            <input name="correo" type="hidden" value="@ViewBag.correo">
                                            <input class="calcular2 boton-color" name="Refresh" type="submit" value="I want to compensate">
                                        </th>

                                    </tr>

                                </table>

                            </div>
                        </div>

                        <div class="col-md-2" style="background-color:#04C3D7">

                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="background-color:transparent;">
                </div>
            </div>
        </div>
    </form>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4" style="background-color:transparent">
                </div>
                <div class="col-lg-4" style="background-color:transparent">

                    <img style="margin-left:25%" src="~/Content/Img/logooEPB.png" />

                </div>
                <div class="col-lg-4" style="background-color:transparent">

                </div>
            </div>

        </div>
    </footer>
</body>


</html>
