
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>Prueba de Bootstrap 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <LINK rel="StyleSheet" href="~/Content/Site.css" type="text/css">
</head>

<body>
    <div class="container-fluid">
        <div class="row" style="padding:1%">
            <div class="col-md-3" style="background-color:transparent;">
                <div class="row">
                    <div class="col-md-3" style="background-color:transparent;">
                        <img style="padding:2%" src="~/Content/Img/Vector.png">
                    </div>
                    <div class="col-md-9" style="background-color:transparent; color:#ffff; padding-top:5%; padding-left:8%;">
                        <p style="font-size:15px;">
                            CALCULADORA
                            <span style="font-size:22px; font-weight: bold;">ECOPARTNERSBANK</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="background-color:transparent;">
                <div class="row" style="padding:2%;">
                    <div class="col-md-2" style="background-color:#117394;">
                        <p id="num" style="padding-top:18%; padding-left:22%;">1</p>
                    </div>
                    <div class="col-md-2" style="background-color:#02AFC1">
                        <p id="num" style="padding-top:18%; padding-left:22%;">2</p>
                    </div>
                    <div class="col-md-2" style="background-color:#04C3D7">
                        <p id="num" style="padding-top:18%; padding-left:22%;">3</p>
                    </div>
                    <div class="col-md-6" style="background-color:#0BEDBF">
                        <div class="row">
                            <div class="col-md-2" style="background-color:transparent;">
                                <p id="num" style="padding-top:45%; padding-left:22%;">4</p>
                            </div>
                            <div class="col-md-3" style="background-color:transparent;  padding-top:5%;">
                                <img src="~/Content/Img/Moto.png" alt="Moto" />
                            </div>
                            <div class="col-md-7" style="background-color:transparent; color:#ffff; padding-top:1%; padding-left:10%;">
                                <p style="font-size:12px;">
                                    <span style="font-size:30px; font-weight: bold;">Pago</span> <br>
                                    Compensa lo contaminado
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="background-color:transparent;">
            </div>
        </div>
    </div>

    <!-- ///////////////////////////////////////////////////////////////////////////////////-->
    <!-- ///////////////////////////////////////////////////////////////////////////////////-->

    <div class="row w-100" style=" margin-top: -2%; background-color: #0BEDBF; ">
        <div class="col-sm-2" style="background-color:transparent;">

        </div>
        <div class="col-sm-8" style="background-color:transparent; ">
            <div class="row" style="padding:2%;">

                <div class="col-sm-2" style=" background-color: #0BEDBF; padding-top:3%; padding-left:8%; color:#117394">
                    <img src="~/Content/Img/nube.png" alt="nube">
                </div>
                <div class="col-sm-5" style="background-color: #0BEDBF; color: #117394">
                    <div><span>&nbsp&nbsp</span></div>
                    <span style="font-weight: bold;">Producto</span>
                    <div><span>&nbsp&nbsp</span></div>
                    <span>Carbono x @ViewBag.toneladas T</span>
                    <div><span>&nbsp&nbsp</span></div>
                    <div><span>&nbsp&nbsp</span></div>
                    <div><span>&nbsp&nbsp</span></div>
                    <div><span>&nbsp&nbsp</span></div>
                    <div><span>&nbsp&nbsp</span></div>
                    <div><span>&nbsp&nbsp</span></div>

                    <a href="javascript: history.go(-1)" style="margin-left:-40%"><input class="calcular3 boton-color" name="" type="button" value="<-- Atrás"></a>



                </div>

                <div class="col-sm-2" style=" background-color: #0BEDBF; color:#117394">



                </div>

                <div class="col-sm-3" style=" background-color: #0BEDBF; color:#117394">

                    <script type="text/javascript">

                        $('#mclp').Click(function () {
                            if ($('#musd').css('display') == none) {
                                $('#musd').css('display', 'block');
                            }
                            else {
                                $('#musd').css('display', 'none');
                            }
                        })

                    </script>
                    <script type="text/javascript">
                        function mostrarDiv() {
                            document.getElementById('musd').style.display = "block";
                            document.getElementById('mclp').style.display = "none";
                            //document.getElementById('menos').style.display = "block";
                            document.getElementById('clpm').style.display = "none";
                            document.getElementById('usdm').style.display = "block";

                        }

                        function ocultarDiv() {
                            document.getElementById('mclp').style.display = "block";
                            document.getElementById('musd').style.display = "none";
                            //document.getElementById('menos').style.display = "none";
                            document.getElementById('clpm').style.display = "block";
                            document.getElementById('usdm').style.display = "none";

                        }


                    </script>
                    <script type="text/javascript">
                        function monedaclp() {

                            var valor = (document.convertidor.usd.value) * 1;
                            var tot = valor * 800;
                            tot = tot.toFixed(2);

                            document.convertidor.clp.value = tot;
                            document.convertidor.clptot.value = tot;

                        }

                    </script>
                    <script type="text/javascript">
                        function monedausd() {

                            var valor = (document.convertidor.clp.value) * 1;
                            var tot = valor / 800;
                            tot = tot.toFixed(2);

                            document.convertidor.usd.value = tot;
                            document.convertidor.usdtot.value = tot;

                        }

                    </script>
                    <div><span>&nbsp&nbsp</span></div>

                    <div id="mclp">
                        <span style="font-weight: bold; margin-left:-15%">Moneda</span>
                        <input name="mclp" onclick="monedaclp(); mostrarDiv();" style="margin-left:5px" class="moneda boton-color" type="button" value="CLP">

                    </div>
                    <div id="musd" style="display:none;">
                        <span style="font-weight: bold; margin-left:-15%">Moneda</span>
                        <input onclick="monedausd(); ocultarDiv();" style="margin-left:5px; position: relative;" class="moneda boton-color" name="" type="button" value="USD">
                    </div>
                    <form name="convertidor">
                        <div id="clpm">

                            <div><span>&nbsp&nbsp</span></div>
                            <div><span style="font-weight: bold; margin-left:-30%">Subtotal</span><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$ <input id="" type="text" class="inputmoneda" name="usd" value="@ViewBag.total" /> USD</span></div>
                            <div><span>&nbsp&nbsp</span></div>
                            <div><span style="font-weight: bold; margin-left:-30%">Total</span><span style="font-weight: bold">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$<input id="" type="text" class="inputmoneda" name="usdtot" value="@ViewBag.total" />  USD</span></div>
                            <div><span>&nbsp&nbsp</span></div>
                            <div><span>&nbsp&nbsp</span></div>



                        </div>
                        <div id="usdm" style="display:none">

                            <div><span>&nbsp&nbsp</span></div>
                            <div><span style="font-weight: bold; margin-left:-30%">Subtotal</span><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$ <input id="" type="text" class="inputmoneda" name="clp" /> CLP</span></div>
                            <div><span>&nbsp&nbsp</span></div>
                            <div><span style="font-weight: bold; margin-left:-30%">Total</span><span style="font-weight: bold">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$ <input type="text" class="inputmoneda" name="clptot" />  CLP</span></div>
                            <div><span>&nbsp&nbsp</span></div>
                            <div><span>&nbsp&nbsp</span></div>



                        </div>
                    </form>
                    <form action="/Moto/moto_pagina4_paypal" method="post">
                        <input type="hidden" name="total" value="@ViewBag.total" />
                        <input type="hidden" name="ton" value="@ViewBag.toneladas" />

                    </form>
                    <!--    <span>
                    <img src="~/Content/Img/Frame1.png" alt="hoja">
                    <img src="~/Content/Img/frames.gif" alt="hoja">
                </span>-->

                    <div id="smart-button-container" style="margin-top:-80%; margin-left:-55%">
                        <div style="text-align: center"><label for="description"> </label><input hidden type="text" name="descriptionInput" id="description" maxlength="127" value="@ViewBag.toneladas"></div>
                        <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
                        <div style="text-align: center"><label for="amount"> </label><input hidden name="amountInput" type="number" id="amount" value="@ViewBag.total"></div>
                        <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
                        <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value=""></div>
                        <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
                        <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
                    </div>

                    <div style="margin-left: 13%">

                         <form action="@ViewBag.form" method="post">
                    <input hidden type="text" name="token_ws" value="@ViewBag.token" />
                    <input hidden type="text" name="toneladas" value="@ViewBag.toneladas" />

                                   <input type="image" src="~/Content/Img/webpay.png" height="150" width="300" />
                                   </form>
                                   <!--4051885600446623-->



                    </div>

                </div>



            </div>
        </div>
        <div class="col-sm-2" style="background-color:transparent;">

        </div>
    </div>

</body>
</html>

@*
    <script src="https://www.paypal.com/sdk/js?client-id=ARkGHnn3-mtjesDGtCGY5NGv6f6fsIiLfMaw6P2OTRDPNnjNdTmBpj5YKAWP36SAkeCKiNfpVlSi2U--&currency=USD" data-sdk-integration-source="button-factory"></script>
*@
<script src="https://www.paypal.com/sdk/js?client-id=AUtWDW27C_dQFZbr3GjPakxfvvS-GUBFJywU95gNqqX-OaC80-vay1DCz6lBXJc-cUez-2AkjUC1znzf&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
    function initPayPalButton() {
        var description = document.querySelector('#smart-button-container #description');
        var amount = document.querySelector('#smart-button-container #amount');
        var descriptionError = document.querySelector('#smart-button-container #descriptionError');
        var priceError = document.querySelector('#smart-button-container #priceLabelError');
        var invoiceid = document.querySelector('#smart-button-container #invoiceid');
        var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
        var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

        var elArr = [description, amount];

        if (invoiceidDiv.firstChild.innerHTML.length > 1) {
            invoiceidDiv.style.display = "block";
        }

        var purchase_units = [];
        purchase_units[0] = {};
        purchase_units[0].amount = {};

        function validate(event) {
            //alert(event.value.length >= 0);
            return event.value.length >= 0;
        }

        paypal.Buttons({
            style: {
                color: 'gold',
                shape: 'rect',
                label: 'paypal',
                layout: 'vertical',

            },

            onInit: function (data, actions) {
                //actions.disable();
                actions.enable();

                if (invoiceidDiv.style.display === "block") {
                    elArr.push(invoiceid);
                }

                elArr.forEach(function (item) {
                    item.addEventListener('keyup', function (event) {
                        var result = elArr.every(validate);
                        if (result) {
                            actions.enable();
                        } else {
                            actions.disable();
                        }
                    });
                });
            },

            onClick: function () {
                if (description.value.length < 1) {
                    descriptionError.style.visibility = "visible";
                } else {
                    descriptionError.style.visibility = "hidden";
                }

                if (amount.value.length < 1) {
                    priceError.style.visibility = "visible";
                } else {
                    priceError.style.visibility = "hidden";
                }

                if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
                    invoiceidError.style.visibility = "visible";
                } else {
                    invoiceidError.style.visibility = "hidden";
                }

                purchase_units[0].description = description.value;
                purchase_units[0].amount.value = amount.value;

                if (invoiceid.value !== '') {
                    purchase_units[0].invoice_id = invoiceid.value;
                }
            },

            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: purchase_units,
                });
            },

            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            },

            onError: function (err) {
                console.log(err);
            }
        }).render('#paypal-button-container');
    }
    initPayPalButton();
</script>

<script>
        //window.localStorage.clear();
        window.localStorage.setItem("toneladas_moto",@ViewBag.toneladas)
</script>
